<style>
    body {
        padding: 0 !important;
    }

    table {
        font-size: 13px !important;
    }

    thead {
        color: #fff;
        background: linear-gradient(to right, #31bfab, #4ea2e0);
        border-bottom: 9px solid rgba(255, 255, 255, 0.5);
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    tr td:hover {
        cursor: pointer;
    }

    .page-wrapper {
        height: 100vh;
    }

    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        padding: 0 65px 0 0;
        background: linear-gradient(to left, #31bfab, #4ea2e0) !important;
        border-bottom: 3px solid rgba(255, 255, 255, 0.5) !important;
    }

    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        padding: 0 65px 0 0;
        background: linear-gradient(to right, #3790d2, #1db19c);
        border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    }

        .topbar a, .topbar a:hover {
            font-size: 2.0em;
            text-decoration: none;
            color: #fff;
        }

    .topbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 50px;
        background: rgba(255, 255, 255, 0.2);
    }

    #logout-button {
        font-size: 1.1em;
        background: rgba(0, 0, 0, 0);
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: 0.08s;
        box-shadow: none !important;
    }

        #logout-button:hover, #logout-button:focus, #logout-button:active {
            background: rgba(255, 255, 255, 0.25);
            outline: none;
            box-shadow: none;
            transition: 0.08s;
        }

    .body-wrapper {
        display: flex;
        align-content: stretch;
        min-height: 100%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        max-width: 250px;
        border-right: 3px solid rgba(255, 255, 255, 0.55);
        background: #283035;
    }

    .components-header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 63px;
        padding: 0px 0 0 20px;
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.85);
        text-transform: uppercase;
    }

    .components a {
        display: block;
        padding: 12px 0 12px 27px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.75);
        transition: 0.1s;
    }

        .components a:hover {
            text-decoration: none;
            color: #fff;
            background: #1db19c;
            transition: 0.1s;
        }

    .content-wrapper {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        width: 100%;
        padding: 25px 40px 25px 40px;
    }

    .content-container {
        /*display: flex;
        align-items: center;*/
        padding: 30px 50px 30px 50px;
        margin-bottom: 15px;
        /*margin: 30px 30px 0px 30px;*/
        background: #fff;
        /*border: 3px solid rgba(0, 0, 0, 0.1);*/
        border-radius: 3px 3px;
    }

    li .glyphicon {
        font-size: 14px;
        padding: 0 15px 0 0;
    }

    .components-divider-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 2px;
    }

    .components-divider {
        height: 100%;
        width: 190px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThemeParkDatabase</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-paper.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="page-wrapper">
        <nav class="topbar navbar-inverse">
            <div class="topbar-brand"><a asp-page="/Index">theme<b>Park</b></a></div>
            @await Html.PartialAsync("_LoginPartial")
            @*<button class="btn btn-primary" id="logout-button">Logout</button>*@
        </nav>



        <div class="body-wrapper">

            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <nav class="sidebar">

                    <div class="components-header">Navigation</div>
                    <div class="components-divider-wrapper">
                        <div class="components-divider"></div>
                    </div>
                    <ul class="components list-unstyled">


                        <li><a asp-page="/ParkInfo/Index"><i class="glyphicon glyphicon-globe"></i>ParkInfo</a></li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {

                    <li><a asp-page="/Maintenance/Index"><i class="glyphicon glyphicon-wrench"></i>Maintenance</a></li>
                    <li><a asp-page="/Employees/Index"><i class="glyphicon glyphicon-user"></i>Employees</a></li>
                    <li><a asp-page="/Reports/Index"><i class="glyphicon glyphicon-book"></i>Daily Reports</a></li>
                    <li><a asp-page="/ReportQueries/Index"><i class="glyphicon glyphicon-list"></i>Reports Queries</a></li>
                    <li><a asp-page="/Visitors/Index"><i class="glyphicon glyphicon-equalizer"></i>Visitors</a></li>

}
                        
                        <li><a asp-page="/Attractions/Index"><i class="glyphicon glyphicon-sunglasses"></i>Attractions</a></li>

                        <li><a asp-page="/Vendors/Index"><i class="glyphicon glyphicon-cutlery"></i>Vendors</a></li>


                    </ul>
                    <div class="components-divider-wrapper">
                        <div class="components-divider"></div>
                    </div>
                </nav>

            }

            <div class="content-wrapper container">
                @RenderBody()
            </div>
        </div>



        @*</div>*@


        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                    crossorigin="anonymous"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>

@*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">ThemeParkDatabase</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Maintenance/Index">Maintenance</a></li>
                    <li><a asp-page="/Employees/Index">Employees</a></li>
                    <li><a asp-page="/Reports/Index">Reports</a></li>
                    <li><a asp-page="/Attractions/Index">Attractions</a></li>
                    <li><a asp-page="/Visitors/Index">Visitors</a></li>
                    <li><a asp-page="/Vendors/Index">Vendors</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">

        <hr />
        <footer>
            <p>&copy; 2017 - ThemeParkDatabase</p>
        </footer>
    </div>*@