@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="content-container">

    

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       
      
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/ThemePark-1500px.png" alt="ThemeParkImages1" class="img-responsive" />
            <div class="carousel-caption" role="option">                
            </div>
        </div> 
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>About</h4>
        <p>
                We're no strangers to love
                You know the rules and so do I
                A full commitment's what I'm thinking of
                You wouldn't get this from any other guy
                I just wanna tell you how I'm feeling
                Gotta make you understand
                Never gonna give you up
                Never gonna let you down
                Never gonna run around and desert you
                Never gonna make you cry
                Never gonna say goodbye
                Never gonna tell a lie and hurt yo
           </p>
    </div>
  
   
    <div class="col-md-6">
        <h4>Our misson </h4>
        <p>
                We can dance if we want to, we can leave your friends behind
                Cause your friends don't dance and if they don't dance
                Well they're are no friends of mine
                I say, we can go where we want to a place where they will never find
                And we can act like we come from out of this world
                Leave the real one far behind
                And we can dance.
           </p>
    </div>
</div>

    </div>
